.container
{
display: flex;
}
.left{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
        width:20%;
    height:100%;
    background-color:rgb(231, 231, 248);
    padding: 15PX;
  
}
img
{
    border-radius: 100px;
}
.right
{
    border-top-right-radius: 15px;
     border-end-end-radius: 15px;
    width:80%;
    height:100%;
    background-color:rgb(174, 174, 189);
    padding: 8px;

    
}